body{
    margin: 0;
}

#site-header{   
    height: 140px;
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-position-x: right;
    background-size: 37% ;
}

.logo{
    height: 80px;
    margin: 50px 0px 0px 10px;   
}

