body{
    margin: 0;
}

/* header */
#site-header{   
    height: 140px;
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-position-x: right;
    background-size: 37% ;
}

.logo{
    height: 80px;
    margin: 50px 0px 0px 10px;   
}

/* main */
main{
    margin: 0px 10px 0px 10px;
}
h1{
    margin: 0;
    font-weight: 600;
    font-size: 60px;
}

#undertitle{
    color: grey;
}

h2{
    margin: 0;
}

#undertitle-blue{
    color: #4ea0ff;
}

h4{
    margin: 0;
    margin-bottom: 20px;
}

.photo{
    height: 520px;
}

#captions>h5 {
    margin: 0;
}

.marker{
    background-color: yellow;
}

ul{
    padding-inline-start: 20px;
    margin: 30px 0px;
}
table{
    border-spacing: 0;
}
thead{
    color: white;
    background-color: #4ea0ff;
}
th{
    width: 350px;
}
#column-first{
    width: 25%;
}
#column-second{
    width: 25%;
}
#column-third{
    width: 50%;
}

/* another way could the following. And no properties to 
column -first and -second.

#column-third{
    margin: auto;
} */

.row-colored{
    background-color: rgb(152, 234, 234);
}
 
/* footer */

footer{
    margin: 30px 10px 0px 10px;
}

#interests{
    color: grey;
}

footer>img{
    display: block;
    margin-bottom: 10px;
}